{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="开源分享平台">
<meta name="keywords" content="开源,分享,社区">
<title>{% block html_title %}OpenShare - 开源分享平台{% endblock html_title %}</title>
<!-- color-modes:js -->
<script src="{% static 'nobleui/js/color-modes.js' %}"></script>
<!-- baidu tongji -->
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?8e8cb168aaff7c12e89fea66b7c9d2c2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- endinject -->

<!-- core:css -->
<link rel="stylesheet" href="{% static 'nobleui/vendors/core/core.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'nobleui/images/favicon.png' %}" />
