{% load static %}
<nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
           
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-lucide="user"></i>
                    <span class="menu-title">个人中心</span>
                    <i class="link-arrow"></i>
                </a>
                <div class="submenu">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="submenu-item pe-md-0">
                                <li class="category-heading">个人资料</li>
                                <li class="nav-item">
                                     <a
                                class="nav-link"
                                href="{% url 'accounts:profile' %}"
                                >个人资料</a
                            >
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="submenu-item ps-md-0">
                                <li class="category-heading">激励</li>
                                <li class="nav-item">
                                    <a
                                class="nav-link"
                                href="{% url 'points:my_points' %}"
                                >我的积分</a
                            >
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-lucide="gift"></i>
                    <span class="menu-title">兑换积分</span>
                    <i class="link-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'accounts:shop_list' %}"
                                >积分商城</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'accounts:redemption_list' %}"
                                >兑换记录</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-lucide="settings"></i>
                    <span class="menu-title">账号设置</span>
                    <i class="link-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'accounts:change_password' %}"
                                >修改密码</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'accounts:change_email' %}"
                                >修改邮箱</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'accounts:social_connections' %}"
                                >社交账号</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
