{% load static %}
<!DOCTYPE html>
{# djlint:off H016,H030,H031 #}
<html lang="zh-CN">
    <head>
        {% include "partials/_head.html" %}
        {# djlint:on H016,H030,H031 #}
        <!-- Layout styles -->
        <link rel="stylesheet" href="{% static 'nobleui/css/demo2/style.css' %}">
        <!-- End layout styles -->
        <!-- Plugin css for this page -->
        {% block plugin_css %}{% endblock plugin_css %}
        <!-- End plugin css for this page -->
        <script src="//unpkg.com/alpinejs" defer></script>
        <!-- Extra CSS -->
        {% block extra_css %}{% endblock extra_css %}
    </head>
    <body>
        <div class="main-wrapper">
            <!-- partial:partials/_navbar.html -->
            <div class="horizontal-menu">
                {% include "partials/_navbar.html" with show_brand=True toggler_mode="horizontal" %}
                <!-- partial:partials/_horizontal_menu.html -->
                {% include "partials/_horizontal_menu.html" %}
                <!-- partial -->
            </div>
            <!-- partial -->
            <div class="page-wrapper">
                <div class="page-content container-xxl">
                    {% include "partials/_messages.html" %}
                    {% block content %}{% endblock content %}
                </div>
                <!-- partial:partials/_footer.html -->
                {% include "partials/_footer.html" %}
                <!-- partial -->
            </div>
        </div>
        {% include "partials/_scripts.html" %}
        <!-- Plugin js for this page -->
        {% block plugin_js %}{% endblock plugin_js %}
        <!-- End plugin js for this page -->
        <!-- Custom js for this page -->
        {% block extra_js %}{% endblock extra_js %}
        <!-- End custom js for this page -->
    </body>
</html>
