{% load static %}
<!doctype html>
{# djlint:off H016,H030,H031 #}
<html lang="zh-CN">
    <head>
        {% include "partials/_head.html" %}
        {# djlint:on H016,H030,H031 #}
        <!-- Layout styles -->
        <link rel="stylesheet" href="{% static 'nobleui/css/demo2/style.css' %}">
        <!-- End layout styles -->
        <!-- Plugin css for this page -->
        {% block plugin_css %}{% endblock plugin_css %}
        <!-- End plugin css for this page -->
        <script src="//unpkg.com/alpinejs" defer></script>
        <!-- Extra CSS -->
        {% block extra_css %}{% endblock extra_css %}
    </head>
    <body>
        <div class="main-wrapper">
            <!-- partial:partials/_navbar.html -->
            <div class="horizontal-menu">
                <nav class="navbar top-navbar">
                    <div class="container">
                        <div class="navbar-content">
                            <a
                                href="{% url 'homepage:index' %}"
                                class="navbar-brand d-none d-lg-flex"
                            >
                                Open<span>Share</span>
                            </a>
                            <!-- Logo-mini for small screen devices (mobile/tablet) -->
                            <div class="logo-mini-wrapper">
                                <img
                                    src="{% static 'nobleui/images/logo-mini-light.png' %}"
                                    class="logo-mini logo-mini-light"
                                    alt="logo"
                                    width="40"
                                    height="40"
                                />
                                <img
                                    src="{% static 'nobleui/images/logo-mini-dark.png' %}"
                                    class="logo-mini logo-mini-dark"
                                    alt="logo"
                                    width="40"
                                    height="40"
                                />
                            </div>
                            <form class="search-form" method="get" action="#">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i data-lucide="search"></i>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="navbarForm"
                                        placeholder="搜索..."
                                        name="q"
                                    />
                                </div>
                            </form>
                            <ul class="navbar-nav">
                                <li class="theme-switcher-wrapper nav-item">
                                    <input
                                        type="checkbox"
                                        value=""
                                        id="theme-switcher"
                                    />
                                    <label for="theme-switcher">
                                        <div class="box">
                                            <div class="ball"></div>
                                            <div class="icons">
                                                <i data-lucide="sun"></i>
                                                <i data-lucide="moon"></i>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="notificationDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <i data-lucide="bell"></i>
                                    </a>
                                    <div
                                        class="dropdown-menu p-0"
                                        aria-labelledby="notificationDropdown"
                                    >
                                        <div
                                            class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom"
                                        >
                                            <p>通知</p>
                                            <a
                                                href="javascript:;"
                                                class="text-secondary"
                                                >全部标记已读</a
                                            >
                                        </div>
                                        <div class="p-1">
                                            <p
                                                class="text-center text-secondary py-3"
                                            >
                                                暂无新通知
                                            </p>
                                        </div>
                                        <div
                                            class="px-3 py-2 d-flex align-items-center justify-content-center border-top"
                                        >
                                            <a href="javascript:;">查看全部</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="profileDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        {% if user.is_authenticated %}
                                        <img
                                            class="w-30px h-30px ms-1 rounded-circle"
                                            src="https://ui-avatars.com/api/?name={{ user.username }}&background=random"
                                            alt="profile"
                                            width="30"
                                            height="30"
                                        />
                                        {% else %}
                                        <img
                                            class="w-30px h-30px ms-1 rounded-circle"
                                            src="https://ui-avatars.com/api/?name=Guest&background=random"
                                            alt="profile"
                                            width="30"
                                            height="30"
                                        />
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
                                        {% include "partials/_user_dropdown.html" %}
                                    </div>
                                </li>
                            </ul>
                            <!-- navbar toggler for small devices -->
                            <div
                                data-toggle="horizontal-menu-toggle"
                                class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                            >
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- partial:partials/_horizontal_menu.html -->
                {% include "partials/_horizontal_menu.html" %}
                <!-- partial -->
            </div>
            <!-- partial -->
            <div class="page-wrapper">
                <div class="page-content container-xxl">
                    {% include "partials/_messages.html" %}
                    {% block content %}{% endblock content %}
                </div>
                <!-- partial:partials/_footer.html -->
                {% include "partials/_footer.html" %}
                <!-- partial -->
            </div>
        </div>
        {% include "partials/_scripts.html" %}
        <!-- Plugin js for this page -->
        {% block plugin_js %}{% endblock plugin_js %}
        <!-- End plugin js for this page -->
        <!-- Custom js for this page -->
        {% block extra_js %}{% endblock extra_js %}
        <!-- End custom js for this page -->
    </body>
</html>
